/*--- TWITCH ---*/

/* homepage */
p[class='CoreText-sc-1txzju1-0'] {
  display: none;
}

/* sidebar - followed and recommended channels - "Live | x viewers" */
.online-side-nav-channel-tooltip__body div.Layout-sc-1xcs6mc-0.xxjeD {
  display: none !important;
}

/* viewer count */
p[data-a-target='animated-channel-viewers-count'] span,
p[data-a-target='animated-channel-viewers-count'] {
  display: none;
}

/* viewer count theater mode - "Playing Pokémon for x viewers" */
p[data-test-selector='stream-info-card-component__description'] {
  display: none;
}

/* same code for twitch & dashboard */
/* raiding message - "<strong>x viewers</strong><span>are ready to raid </span><strong>x in 5s</strong>" */
div[data-test-selector="raid-message"] strong:nth-child(1),
div[data-test-selector="raid-message"] span {
  display: none;
}

/* raided message (in chat) - x is raiding with a party of x */
div[data-test-selector="user-notice-line"] div strong:nth-child(2) {
  display: none;
}

/* raided message (in chat) - 7TV - x raided with a viewer count of x */
.seventv-raid-message-container {
  position: relative;
}

.seventv-raid-message-container::before {
  content: '';
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 71%;
  background: black;
}

/* DASHBOARD events */
.iOfhCc {
  color: transparent;
}

.iOfhCc * {
  color: white;
}
