/*--- TWITCH ---*/

/* logo */
.tw-animated-glitch-logo {
  filter: hue-rotate(90deg);
}

/* homepage */
p[class='CoreText-sc-1txzju1-0'] {
  display: none;
}

/* sidebar - followed and recommended channels - "Live | x viewers" */
/* hover over a live channel */
.online-side-nav-channel-tooltip__body div.Layout-sc-1xcs6mc-0.xxjeD {
  display: none !important;
}

/* sidebar - deployed */
.jOVwMQ:has(> p.cmeMuc) {
  display: none;
}

/* viewer count */
p[data-a-target='animated-channel-viewers-count'] span,
p[data-a-target='animated-channel-viewers-count'] {
  display: none;
}

/* viewer count theater mode - "Playing Pokémon for x viewers" */
p[data-test-selector='stream-info-card-component__description'] {
  display: none;
}

/* same code for twitch & dashboard */
/* raiding message - "<strong>x viewers</strong><span>are ready to raid </span><strong>x in 5s</strong>" */
div[data-test-selector="raid-message"] strong:nth-child(1),
div[data-test-selector="raid-message"] span {
  display: none;
}

/* raided message (in chat) - x is raiding with a party of x */
div[data-test-selector="user-notice-line"] div strong:nth-child(2) {
  display: none;
}

/* raided message (in chat) - 7TV - x raided with a viewer count of x */
.seventv-raid-message-container span:nth-child(n + 2) {
  border: 2px solid red;
}

.seventv-raid-message-container .bold + span + span {
  color: blue !important;
}

/* DASHBOARD events */
.iOfhCc {
  color: transparent;
}

.iOfhCc * {
  color: white;
}
